/* embeds the openid image in the text field */
input#openid_url {
   background: url(http://openid.net/login-bg.gif) no-repeat;
   background-color: #fff;
   background-position: 0 50%;
   color: #000;
   padding-left: 18px;
}


.go_form {color:#01b0f0;}
.go_form:hover {color:#AEEE00/*aeee00*/;}

/*
azul bem claro #EFF7FF
rosa choque #C40098

*/
html {background-color:#fff;}
body {background-color:#fff /*#100000*/; width:960px;
  margin-left:auto; margin-right:auto; margin-bottom:0; height:600px;
margin-top:0;
}
#hd { background-color:#81a4d6; color:#fff;height:40px; margin-top:0px;
  font-size:12px; border-bottom:#1E6CBB 3px inset;
}

#hd a {color:#fff;}
#hd_search {float:right; margin-right:5px;margin-top:5px;}
#hd_menu {float:left; margin-left:5px;margin-top:5px;}
#message {float:left; margin-left:50px;margin-top:5px;}

#user_profile { background-color:#d9e6f7; font-size:11px;
   height:110px; color:#1E6CBB; font-weight:bold;margin-top:5px;
}
#user_profile a {color:#b2bb1d;}
#user_info_show {float:left; margin-right:10px; margin-left:10px;}

.ultimos_treinos {color:#D7B381; float:left; height:100px; background-color:#EFF7FF; margin:5px; width:200px;}


#workout_home {color:#fff; height:300px; background-color:#D0D781; width:960px; float:left;
margin:5px 0px 5px 0px; }
#friends_home {color:#fff; height:300px; background-color:#EFF7FF/*D781A5*/; width:960px; margin-right:5px 0px 5px 0px; float:left;}

#workout_form_div { float:left; width:900px;}

#ft {}

#avatar {float:left;margin-left:5px; margin-top:5px; margin-right: 5px;}

#intermediario {background-color:#03899c/*7DC6F0*/;color:#FFF;margin-left:-10px; margin-right:-10px; height:600px;
/*background:transparent url(http://tearoundapp.com/images/wood.jpg) repeat-x scroll center top;*/
border-top:#015965 5px solid; border-bottom:#333 5px solid;
}

