<style>
#meio.interno {padding: .5px;}
</style>
<div id="meio" class="interno">
<div class="container">
  <div class="matafloat"></div>
</div> <!-- /container -->
</div> <!-- /meio -->

<div id="conteudo">
<div class="container">
  <h1><span>Formulário</span> de edição</h1>
  <p>E então segue o conteúdo. E então segue o conteúdo. E então segue o conteúdo.</p>

    <% form_for @user, :builder => WorkoutFormBuilder, :url => account_path do |f| %>
      <%= f.error_messages %>
      <h1>1. Dados pessoais</h1>
      <%= render :partial => "form", :object => f %>
      <%= f.submit "Atualizar", :style => "float: right" %><br />
      <div class="matafloat"></div>
    <% end %>
</div> <!-- /container -->
</div> <!-- /conteudo -->

