
<div id="meio">
<div class="container">
  <h1><span>Saúde</span> é vida</h1>
  <p>Sabia que a vida da gente é um nada no mundo? Sabia que a vida da gente é um nada no mundo? Sabia que a vida da gente é um nada no mundo?</p>
  <p>Sabia que a vida da gente é um nada no mundo? Sabia que a vida da gente é um nada no mundo? Sabia que a vida da gente é um nada no mundo?</p>
  <a href="#">Você está certo disso?</a>
</div> <!-- /container -->
</div> <!-- /meio -->

<div id="conteudo">
<div class="container">

  <div id="coluna">
    <h1><span>Vídeos</span> demonstrativos</h1>
    <br />
    <object width="370" height="300"><param name="movie" value="http://www.youtube.com/v/fWP14jc5XOU&hl=pt-br&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/fWP14jc5XOU&hl=pt-br&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="370" height="300"></embed></object>
    <p>Aqui acima terão os vídeos</p>

    <h1><span>Gráficos</span> detalhados</h1>
    <br />
    <img src="http://images.fanpop.com/images/image_uploads/Graphs-wikipedia-458294_720_360.jpg" width="370" />
    <p>Aqui acima terão os gráficos</p>
  </div> <!-- /coluna -->

  <h1><span>Múltiplas</span> modalidades</h1>
  <ul>
    <li><img src="/images/icoFutebol.gif" align="left" />A modalidade da vez de agora é nada mais que a modalidade de todos os tempos juntos de uma vez. A modalidade da vez de agora é nada mais que a modalidade de todos os tempos juntos. </li>
    <li><img src="/images/icoFutebol.gif" align="left" />A modalidade da vez de agora é nada mais que a modalidade de todos os tempos juntos de uma vez. A modalidade da vez de agora é nada mais que a modalidade de todos os tempos juntos. </li>
    <li><img src="/images/icoFutebol.gif" align="left" />A modalidade da vez de agora é nada mais que a modalidade de todos os tempos juntos de uma vez. A modalidade da vez de agora é nada mais que a modalidade de todos os tempos juntos. </li>
    <li><img src="/images/icoFutebol.gif" align="left" />A modalidade da vez de agora é nada mais que a modalidade de todos os tempos juntos de uma vez. A modalidade da vez de agora é nada mais que a modalidade de todos os tempos juntos. </li>
  </ul>

</div> <!-- /container -->
</div> <!-- /conteudo -->

