<div id="base">
<div class="container">

  <ul>
    <li>
      <h1><span>Parceria</span> Jornal O Povo</h1>
      <p>O que você deseja fazer ou falar para as pessoas? O que você deseja fazer ou falar para as pessoas? O que você deseja fazer ou falar para as pessoas? </p>
    </li>
    <li>
      <h1><span>Parceria</span> Jornal O Povo</h1>
      <p>O que você deseja fazer ou falar para as pessoas? O que você deseja fazer ou falar para as pessoas? O que você deseja fazer ou falar para as pessoas? </p>
    </li>
    <li>
      <h1><span>Parceria</span> Jornal O Povo</h1>
      <p>O que você deseja fazer ou falar para as pessoas? O que você deseja fazer ou falar para as pessoas? O que você deseja fazer ou falar para as pessoas? </p>
    </li>
  </ul>

</div> <!-- /container -->
</div> <!-- /base -->

   <div id="ft">
   	<p>
      <%= pluralize User.logged_in.count, "user" %> currently logged in<br />
   	</p>
   </div>

</body>
</html>

