
		</div>
		<div class="yui-g" id="intermediario2">
		</div>
	</div>

<!-- Footer do YUI -->


   <div id="ft" role="contentinfo">
   	<p>
		<span style="color:#666;float:left;"><strong>©2009 Milfont. All Rights Reserved. <br/> <%= pluralize User.logged_in.count, "user" %> currently logged in<br /> </strong></span>
		<span style="color:orange;float:right;">
			<strong>Av. Desembargador Moreira, 2020 sala 209. Aldeota <br/> Fortaleza-CE, Brazil. -3.742897,-38.500645</strong>
		</span>
   	</p>
   </div>

</div>
</body>
</html>

